USE [master]
GO
/****** Object:  Database [QLKhachSan]    Script Date: 04/05/2023 5:20:07 PM ******/
CREATE DATABASE [QLKhachSan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLKhachSan', FILENAME = N'D:\BaiTapLonJava\QLKhachSan\SQL\QLKhachSan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLKhachSan_log', FILENAME = N'D:\BaiTapLonJava\QLKhachSan\SQL\QLKhachSan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKhachSan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKhachSan]
GO
/****** Object:  Table [dbo].[ChiTietDatPhong]    Script Date: 04/05/2023 5:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDatPhong](
	[MAHD] [nvarchar](10) NOT NULL,
	[MAPHONG] [nvarchar](10) NOT NULL,
	[NGAYDAT] [date] NULL,
	[NGAYTRA] [date] NULL,
	[SONGUOI] [int] NULL,
	[GHICHU] [nvarchar](500) NULL,
 CONSTRAINT [PK_ChiTietDatPhong] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietSuDungDichVu]    Script Date: 04/05/2023 5:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietSuDungDichVu](
	[MAHD] [nvarchar](10) NOT NULL,
	[MADV] [nvarchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_ChiTietSuDungDichVu] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 04/05/2023 5:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MADV] [nvarchar](10) NOT NULL,
	[TENDV] [nvarchar](50) NULL,
	[GIA] [float] NULL,
 CONSTRAINT [PK_DichVu] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoiPhong]    Script Date: 04/05/2023 5:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoiPhong](
	[HOTENKH] [nvarchar](50) NULL,
	[CCCD] [nvarchar](12) NULL,
	[DIACHI] [nvarchar](30) NULL,
	[SDT] [nvarchar](10) NULL,
	[MAPHONG] [nvarchar](10) NULL,
	[MAPHONGMOI] [nvarchar](10) NOT NULL,
	[LYDO] [nvarchar](50) NULL,
	[CHITIETLYDO] [nvarchar](500) NULL,
 CONSTRAINT [PK_DOIPHONG] PRIMARY KEY CLUSTERED 
(
	[MAPHONGMOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 04/05/2023 5:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MAHD] [nvarchar](10) NOT NULL,
	[MANV] [nvarchar](10) NOT NULL,
	[MAKH] [nvarchar](10) NOT NULL,
	[NGAYLAPHD] [date] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 04/05/2023 5:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MAKH] [nvarchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[SDT] [nvarchar](10) NULL,
	[CCCD] [nvarchar](12) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[PHAI] [bit] NULL,
	[DIACHI] [nvarchar](1000) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KiemTraPhongMoi]    Script Date: 04/05/2023 5:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KiemTraPhongMoi](
	[MAPHONGMOI] [nvarchar](10) NOT NULL,
	[TENPHONG] [nvarchar](20) NULL,
	[LOAIPHONG] [nvarchar](15) NULL,
	[TINHTRANG] [nvarchar](12) NULL,
 CONSTRAINT [PK_KIEMTRAPHONGMOI] PRIMARY KEY CLUSTERED 
(
	[MAPHONGMOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 04/05/2023 5:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MANV] [nvarchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[SDT] [nvarchar](10) NULL,
	[PHAI] [bit] NULL,
	[TUOI] [int] NULL,
	[LUONG] [float] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuYeuCauDoiPhong]    Script Date: 04/05/2023 5:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuYeuCauDoiPhong](
	[HOTENKH] [nvarchar](50) NULL,
	[CCCD] [nvarchar](12) NULL,
	[SDT] [nvarchar](10) NULL,
	[MAPHONGCU] [nvarchar](10) NULL,
	[MAPHONGMOI] [nvarchar](10) NOT NULL,
	[CHITIETLYDO] [nvarchar](500) NULL,
	[PHIPHUTHEM] [int] NULL,
 CONSTRAINT [PK_PhieuYeuCauDoiPhong] PRIMARY KEY CLUSTERED 
(
	[MAPHONGMOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 04/05/2023 5:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MAPHONG] [nvarchar](10) NOT NULL,
	[TENPHONG] [nvarchar](50) NULL,
	[LOAIPHONG] [nvarchar](50) NULL,
	[TRANGTHAI] [bit] NULL,
	[MATANG] [int] NOT NULL,
	[GIA] [float] NULL,
 CONSTRAINT [PK_Phong] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 04/05/2023 5:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MATK] [nvarchar](10) NOT NULL,
	[PASS] [nvarchar](50) NULL,
	[QUYEN] [nvarchar](50) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tang]    Script Date: 04/05/2023 5:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tang](
	[MATANG] [int] NOT NULL,
	[TENTANG] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tang] PRIMARY KEY CLUSTERED 
(
	[MATANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThietBi]    Script Date: 04/05/2023 5:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThietBi](
	[MATB] [nvarchar](10) NOT NULL,
	[MAPHONG] [nvarchar](10) NOT NULL,
	[TENTB] [nvarchar](50) NULL,
	[MOTA] [nvarchar](500) NULL,
 CONSTRAINT [PK_ThietBi] PRIMARY KEY CLUSTERED 
(
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietDatPhong] ([MAHD], [MAPHONG], [NGAYDAT], [NGAYTRA], [SONGUOI], [GHICHU]) VALUES (N'HD11612108', N'403', CAST(N'2023-03-04' AS Date), CAST(N'2023-03-07' AS Date), 1, N'null')
INSERT [dbo].[ChiTietDatPhong] ([MAHD], [MAPHONG], [NGAYDAT], [NGAYTRA], [SONGUOI], [GHICHU]) VALUES (N'HD14175301', N'102', CAST(N'2023-04-01' AS Date), CAST(N'2023-04-05' AS Date), 2, N'null')
INSERT [dbo].[ChiTietDatPhong] ([MAHD], [MAPHONG], [NGAYDAT], [NGAYTRA], [SONGUOI], [GHICHU]) VALUES (N'HD22261659', N'507', CAST(N'2023-05-04' AS Date), CAST(N'2023-05-10' AS Date), 2, N'null')
GO
INSERT [dbo].[ChiTietSuDungDichVu] ([MAHD], [MADV], [SOLUONG]) VALUES (N'HD11612108', N'DV001', 1)
INSERT [dbo].[ChiTietSuDungDichVu] ([MAHD], [MADV], [SOLUONG]) VALUES (N'HD11612108', N'DV004', 6)
INSERT [dbo].[ChiTietSuDungDichVu] ([MAHD], [MADV], [SOLUONG]) VALUES (N'HD14175301', N'DV001', 1)
GO
INSERT [dbo].[DichVu] ([MADV], [TENDV], [GIA]) VALUES (N'DV001', N'Giữ xe', 20000)
INSERT [dbo].[DichVu] ([MADV], [TENDV], [GIA]) VALUES (N'DV002', N'Dọn phòng', 50000)
INSERT [dbo].[DichVu] ([MADV], [TENDV], [GIA]) VALUES (N'DV003', N'Giữ đồ', 10000)
GO
INSERT [dbo].[HoaDon] ([MAHD], [MANV], [MAKH], [NGAYLAPHD]) VALUES (N'HD11612108', N'21032351', N'KH90187527', CAST(N'2023-05-04' AS Date))
INSERT [dbo].[HoaDon] ([MAHD], [MANV], [MAKH], [NGAYLAPHD]) VALUES (N'HD14175301', N'21032351', N'KH48146551', CAST(N'2023-05-04' AS Date))
INSERT [dbo].[HoaDon] ([MAHD], [MANV], [MAKH], [NGAYLAPHD]) VALUES (N'HD22261659', N'21032351', N'KH52510833', CAST(N'2023-05-04' AS Date))
GO
INSERT [dbo].[KhachHang] ([MAKH], [HOTEN], [SDT], [CCCD], [EMAIL], [PHAI], [DIACHI]) VALUES (N'KH06189194', N'Huỳnh Xuân Thọ', N'0356478954', N'032564785121', N'null', 1, N'null')
INSERT [dbo].[KhachHang] ([MAKH], [HOTEN], [SDT], [CCCD], [EMAIL], [PHAI], [DIACHI]) VALUES (N'KH18622325', N'Nguyễn Thị Minh Thư', N'0325645211', N'082333656648', N'null', 0, N'null')
INSERT [dbo].[KhachHang] ([MAKH], [HOTEN], [SDT], [CCCD], [EMAIL], [PHAI], [DIACHI]) VALUES (N'KH18726087', N'Trần Thanh An', N'0869051595', N'082103265895', N'null', 1, N'null')
GO
INSERT [dbo].[NhanVien] ([MANV], [HOTEN], [SDT], [PHAI], [TUOI], [LUONG]) VALUES (N'21024081', N'Nguyễn Thanh Định', N'0353081256', 1, 20, 10000000)
INSERT [dbo].[NhanVien] ([MANV], [HOTEN], [SDT], [PHAI], [TUOI], [LUONG]) VALUES (N'21032351', N'Nguyễn Hồng Quân', N'0373644375', 1, 20, 10000000)
INSERT [dbo].[NhanVien] ([MANV], [HOTEN], [SDT], [PHAI], [TUOI], [LUONG]) VALUES (N'21045171', N'Võ Trần Quốc Bảo', N'0326036225', 1, 20, 10000000)
GO
INSERT [dbo].[Phong] ([MAPHONG], [TENPHONG], [LOAIPHONG], [TRANGTHAI], [MATANG], [GIA]) VALUES (N'100', N'Phòng 100', N'1 giường đơn', 0, 1, 250000)
INSERT [dbo].[Phong] ([MAPHONG], [TENPHONG], [LOAIPHONG], [TRANGTHAI], [MATANG], [GIA]) VALUES (N'101', N'Phòng 101', N'1 giường đôi', 1, 1, 300000)
INSERT [dbo].[Phong] ([MAPHONG], [TENPHONG], [LOAIPHONG], [TRANGTHAI], [MATANG], [GIA]) VALUES (N'102', N'Phòng 102', N'1 giường đôi', 0, 1, 300000)
GO
INSERT [dbo].[TaiKhoan] ([MATK], [PASS], [QUYEN]) VALUES (N'21024081', N'1111', N'Admin')
INSERT [dbo].[TaiKhoan] ([MATK], [PASS], [QUYEN]) VALUES (N'21032351', N'1111', N'Admin')
INSERT [dbo].[TaiKhoan] ([MATK], [PASS], [QUYEN]) VALUES (N'21045171', N'1111', N'Admin')
GO
INSERT [dbo].[Tang] ([MATANG], [TENTANG]) VALUES (1, N'Tầng 1')
INSERT [dbo].[Tang] ([MATANG], [TENTANG]) VALUES (2, N'Tầng 2')
INSERT [dbo].[Tang] ([MATANG], [TENTANG]) VALUES (3, N'Tầng 3')
GO
INSERT [dbo].[ThietBi] ([MATB], [MAPHONG], [TENTB], [MOTA]) VALUES (N'TB00753718', N'407', N'Tivi', N'Màn hình lớn 60inch')
INSERT [dbo].[ThietBi] ([MATB], [MAPHONG], [TENTB], [MOTA]) VALUES (N'TB00908103', N'102', N'Tivi', N'Màn hình lớn 60inch')
INSERT [dbo].[ThietBi] ([MATB], [MAPHONG], [TENTB], [MOTA]) VALUES (N'TB01452240', N'302', N'Tivi', N'Màn hình lớn 60inch')
GO
ALTER TABLE [dbo].[ChiTietDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDatPhong_HoaDon] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HoaDon] ([MAHD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDatPhong] CHECK CONSTRAINT [FK_ChiTietDatPhong_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDatPhong_Phong] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[Phong] ([MAPHONG])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDatPhong] CHECK CONSTRAINT [FK_ChiTietDatPhong_Phong]
GO
ALTER TABLE [dbo].[ChiTietSuDungDichVu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSuDungDichVu_DichVu] FOREIGN KEY([MADV])
REFERENCES [dbo].[DichVu] ([MADV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietSuDungDichVu] CHECK CONSTRAINT [FK_ChiTietSuDungDichVu_DichVu]
GO
ALTER TABLE [dbo].[ChiTietSuDungDichVu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSuDungDichVu_HoaDon] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HoaDon] ([MAHD])
GO
ALTER TABLE [dbo].[ChiTietSuDungDichVu] CHECK CONSTRAINT [FK_ChiTietSuDungDichVu_HoaDon]
GO
ALTER TABLE [dbo].[DoiPhong]  WITH CHECK ADD  CONSTRAINT [FK_DoiPhong_Phong] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[Phong] ([MAPHONG])
GO
ALTER TABLE [dbo].[DoiPhong] CHECK CONSTRAINT [FK_DoiPhong_Phong]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KhachHang] ([MAKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[KiemTraPhongMoi]  WITH CHECK ADD  CONSTRAINT [FK_KiemTraPhongMoi_DoiPhong] FOREIGN KEY([MAPHONGMOI])
REFERENCES [dbo].[DoiPhong] ([MAPHONGMOI])
GO
ALTER TABLE [dbo].[KiemTraPhongMoi] CHECK CONSTRAINT [FK_KiemTraPhongMoi_DoiPhong]
GO
ALTER TABLE [dbo].[PhieuYeuCauDoiPhong]  WITH CHECK ADD  CONSTRAINT [FK_PhieuYeuCauDoiPhong_KiemTraPhongMoi] FOREIGN KEY([MAPHONGMOI])
REFERENCES [dbo].[KiemTraPhongMoi] ([MAPHONGMOI])
GO
ALTER TABLE [dbo].[PhieuYeuCauDoiPhong] CHECK CONSTRAINT [FK_PhieuYeuCauDoiPhong_KiemTraPhongMoi]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK_Phong_Tang1] FOREIGN KEY([MATANG])
REFERENCES [dbo].[Tang] ([MATANG])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK_Phong_Tang1]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien1] FOREIGN KEY([MATK])
REFERENCES [dbo].[NhanVien] ([MANV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVien1]
GO
ALTER TABLE [dbo].[ThietBi]  WITH CHECK ADD  CONSTRAINT [FK_ThietBi_Phong] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[Phong] ([MAPHONG])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThietBi] CHECK CONSTRAINT [FK_ThietBi_Phong]
GO
USE [master]
GO
